svg {
	background: #F0F1F2;
  	width: 800px;
  	height: 800px;
  	border-style: solid;
  	border-width: 0px;
	position: relative;
	left: -20px;
	border-radius: 25px;
	
}
.viable-partition{
	fill:red;
	stroke: blue;
	stroke-dasharray: 20,5;
	stroke-width:5;
}

.name-text{
	font-size:17px;
	fill:#504646;
}

.held-object{
	
}
.network-connection{
	stroke-width:5;
	stroke:#71EEB8;
}

.device {
	fill: #55A5DD;
}

.network{
	fill: #71EEB8;
}

.drop-locations{
	stroke: #29CE87;
	stroke-width:4;
}

.drop-target{
	fill: #9FF7D1;
}
.connected-device{
	fill: #29CE87;
}

body { 
	margin: 0; 
}
.buttton {
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #ff9999;
  padding: 4px 4px 4px 4px;
  border: 0px solid black;
}

.buttton:hover {
  background: #D86161;
  text-decoration: none;
}